snippet divloc
		<div class="l:loc?locid=${1}">${2}</div>${3}
snippet jqmpage
		<div data-role="page" id="${1}" data-title="${2}">
			<div data-role="header">
				${3}
			</div>
			<div data-role="content">
				${4}
			</div>
			<div data-role="footer">
				${5}
			</div>
		</div>${6}
